@model SecretAndConfig.WebSite.Models.SecretConfigIndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = $"{Configuration["PublicSection:Title"]} - Configuration";
}


<h1>Configuration</h1>

<h3><a class="nav-link text-dark" asp-area="" asp-controller="SecretConfig" asp-action="ConfigIntegration">Platform Integration</a></h3>
<h3><a class="nav-link text-dark" asp-area="" asp-controller="SecretConfig" asp-action="CodeKeyVaultWithManagedIdentity">Retrieve secret using code (Managed Identity)</a></h3>
@if(Model.ReadSecretsWithAADEnabled)
{
<h3><a class="nav-link text-dark" asp-area="" asp-controller="SecretConfig" asp-action="CodeKeyVaultWithAppRegistration">Retrieve secret using code (App Registration AAD)</a></h3>
}

